@font-face {
  font-family: "iconfont"; /* Project id 2898119 */
  src: url('iconfont.woff2?t=1635382808913') format('woff2'),
       url('iconfont.woff?t=1635382808913') format('woff'),
       url('iconfont.ttf?t=1635382808913') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\e600";
}

