@font-face {
  font-family: "iconfont"; /* Project id 2898119 */
  src: url('iconfont.woff2?t=1635390400827') format('woff2'),
       url('iconfont.woff?t=1635390400827') format('woff'),
       url('iconfont.ttf?t=1635390400827') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou-copy-copy:before {
  content: "\e668";
}

.icon-jiantou-copy-copy-copy:before {
  content: "\e669";
}

.icon-shangjiantou:before {
  content: "\e628";
}

.icon-shanglajiantou:before {
  content: "\e626";
}

.icon-you:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\e600";
}

